# These environment variables are expected to be set in the autograding environment.
# See https://github.com/foundation50/classroom50/wiki/Autograders#contract
CLASSROOM=demo101
ASSIGNMENT=demo-assignment
USERNAME=student1
SUBMISSION_TAG=https://example.com/submission
COMMIT_URL=https://example.com/commit
RELEASE_URL=https://example.com/release
