# only install packages published at least 7 days ago
min-release-age=7

# do not run scripts from installed packages
ignore-scripts=true

# fail if the Node.js version does not satisfy the "engines" field in package.json
engine-strict=true
